body{
    background-color: rgba(202, 202, 8, 0.896);
}

.tudo{
    text-align: center;
}

fieldset{
    border-color: black;
}
.T{
    text-align: center;
}
.picles{
text-align: center;
}

.sabado{
    text-align: center;
}

.dedo{
    text-align: center;
}

.Rato{
    text-align: center;
}

.Portuguesa{
    text-align: center;
}